.quote
{
  padding-left: 10px;
  margin-left: 50px;
  margin-bottom: 20px
}

.border
{
  padding-top: 40px;
  border-top: 2px solid black
}

.italic
{
  font-style: italic;
}

.bold
{
  font-weight: bold;
}

p h2
{
  font-weight: bold;
}

body
{
  width: 50%;
  text-align: left;
  margin-left: 25%
}
